body {
    font-family: Montserrat, sans-serif;
    cursor: none;
}

.cursor-dot {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 9999;
  background: rgba(255,0,255,0.3);
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  transition: background 0.2s, width 0.2s, height 0.2s;
}